@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    background-color: beige;
    font-family: 'Lilita One', cursive
}

h2 {
    color: brown;
}

footer {
    background-color: aquamarine;
}

p {
    color: gray;
}